@model IList<Blog>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}
<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">A Warm Welcome!</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">
    @foreach (var pageToPrint in Model)
    {
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="@pageToPrint.ImageDataURL" alt="">
                <div class="card-body">
                    <h5 class="card-title">@pageToPrint.Title</h5>
                    <p class="card-text">@pageToPrint.Description</p>
                </div>
                <div class="card-footer">
                    <a ref="#" class="btn btn-primary"
                       asp-controller="Blog" asp-action="Index" asp-route-title="@pageToPrint.Title">View</a>
                </div>
                @if (User.IsInRole("Admin"))
                {
                <div class="card-footer">
                    <form asp-controller="Admin" asp-action="DeleteBlog" asp-route-title="@pageToPrint.Title" method="post">
                        <button type="submit" class="btn btn-danger"
                                onclick="return confirm('Are you sure you want to delete blog: @pageToPrint.Title')">
                            Delete
                        </button>
                    </form>
                </div>
                }
            </div>
        </div>
    }

    </div>
    <!-- /.row -->
</div>

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}